@import url("milligram.min.css");

h2 {
  white-space: nowrap;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-size-xl {
  font-size: 130%;
}

.discount {
  color: orange;
}

a {
  cursor: pointer;
}

button {
  background-color: transparent;
  color: #333;
  border: none;
  font-size: 1.2rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.0rem;
}

.panel {
  border: 1px solid #ccc;
  padding: 5px 10px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  overflow-x: auto;
}
