@import url("milligram.min.css");

h2 {
  white-space: nowrap;
}

.fixed-bottom {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

ul.list-unstyled {
  list-style: none;
}

.info-box {
  background-color: rgba(179, 229, 223, 0.5);
  padding: 10px 20px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.info-box .fa {
  margin-right: 10px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-size-xl {
  font-size: 130%;
}

.discount {
  color: orange;
}

a {
  cursor: pointer;
}

button {
  background-color: transparent;
  color: #333;
  border: none;
  font-size: 1.2rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.0rem;
}

.panel {
  border: 1px solid #ccc;
  padding: 5px 10px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  overflow-x: auto;
}
